/* --------------- include fonts --------------- */
/* BEGIN Tahoma Normal */
@font-face {
  font-family: 'Tahoma';
  src: url("../fonts/Tahoma/Regular/Tahoma-Regular.eot?v=1.1.0");
  src: url("../fonts/Tahoma/Regular/Tahoma-Regular.eot?") format("embedded-opentype"), url("../fonts/Tahoma/Regular/Tahoma-Regular.woff?v=1.1.0") format("woff"), url("../fonts/Tahoma/Regular/Tahoma-Regular.ttf?v=1.1.0") format("truetype"), url("../fonts/Tahoma/Regular/Tahoma-Regular.svg?v=1.1.0") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* END Tahoma Normal */
/* BEGIN Tahoma Bold */
@font-face {
  font-family: 'Tahoma';
  src: url("../fonts/Tahoma/Bold/Tahoma-Bold.eot?v=1.1.0");
  src: url("../fonts/Tahoma/Bold/Tahoma-Bold.eot?") format("embedded-opentype"), url("../fonts/Tahoma/Bold/Tahoma-Bold.woff?v=1.1.0") format("woff"), url("../fonts/Tahoma/Bold/Tahoma-Bold.ttf?v=1.1.0") format("truetype"), url("../fonts/Tahoma/Bold/Tahoma-Bold.svg?v=1.1.0") format("svg");
  font-weight: 600;
  font-style: normal;
}
/* END Tahoma Bold */
/* BEGIN Open Open Sans Regular */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/Regular/OpenSans-Regular.eot?v=1.1.0");
  src: url("../fonts/OpenSans/Regular/OpenSans-Regular.eot?") format("embedded-opentype"), url("../fonts/OpenSans/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/Regular/OpenSans-Regular.svg?v=1.1.0") format("svg");
  font-weight: 600;
  font-style: normal;
}
/* END Open Open Sans Regular */
/* --------------- include normalize --------------- */
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
/* global
   ========================================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
svg {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  shape-rendering: geometricPrecision;
}
input,
textarea,
button {
  outline: none;
}
/* --------------- include mixins --------------- */
/* ----------------------------------- mixins ----------------------------------- */
.fontreset {
  font-size: 0;
  line-height: 0;
  letter-spacing: -4px;
}
/* --------------- include vars --------------- */
/* --------------- styles --------------- */
html {
  height: 100%;
}
body {
  min-width: 320px;
  height: 100%;
  background-color: #101010;
}
.content {
  width: 975px;
  padding-top: 150px;
  margin: 0 auto 75px;
}
@media (max-width: 1024px) {
  .content {padding-top: 62px;}
}
.content.step-2 .main-block__number-attempts-num--2 {
  background-image: url("../images/number-attempts-1.png");
}
.content.step-2 .deposit-logo {
  display: block;
}
.content.step-3 .main-block__number-attempts-num--2 {
  background-image: url("../images/number-attempts-0.png");
}
.content.step-3 .deposit-logo {
  display: block;
}
.content.step-3 .freespins-logo {
  display: block;
}
@media (max-width: 1024px) {
  .content {
    width: 310px;
    padding: 20px 0 30px;
    margin: 0 auto;
  }
}
.main-block {
  position: relative;
  height: 700px;
  margin-bottom: 75px;
}
@media (max-width: 1024px) {
  .main-block {
    height: 470px;
    padding-top: 80px;
  }
}
.main-block__drum-block-wr {
  position: relative;
  width: 570px;
  height: 570px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .main-block__drum-block-wr {
    width: 310px;
    height: 310px;
  }
}
.main-block__drum-block {
  width: 100%;
}
.main-block__drum {
  position: absolute;
  left: 50%;
  top: 80px;
  width: 410px;
  margin-left: -205px;
  -webkit-transition: -webkit-transform 3s ease-out;
  transition: -webkit-transform 3s ease-out;
  -o-transition: -o-transform 3s ease-out;
  transition: transform 3s ease-out;
  transition: transform 3s ease-out, -webkit-transform 3s ease-out, -o-transform 3s ease-out;
}
@media (max-width: 1024px) {
  .main-block__drum {
    top: 45px;
    width: 220px;
    margin-left: -110px;
  }
}
.main-block__pointer {
  position: absolute;
  left: 50%;
  top: -42px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 230px;
}
@media (max-width: 1024px) {
  .main-block__pointer {
    top: -23px;
    width: 123px;
  }
}
.main-block__drum-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 15px;
}
@media (max-width: 1024px) {
  .main-block__drum-center {
    width: 106px;
    margin-top: 7px;
  }
}
.main-block__drum-center-but {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 180px;
  height: 170px;
  cursor: pointer;
}
.main-block__left-top-block {
  position: absolute;
  left: 41px;
  top: 43px;
  width: 239px;
  height: 172px;
  padding: 21px 0 0 13px;
  background-image: url("../images/img-left-top.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
  font-family: "Tahoma";
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #cebda4;
  text-transform: uppercase;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1024px) {
  .main-block__left-top-block {
    display: none;
  }
}
.main-block__left-top-block-margin {
  margin-bottom: 35px;
}
.main-block__right-top-block {
  position: absolute;
  right: 40px;
  top: 44px;
  width: 235px;
  height: 155px;
  padding: 21px 13px 0 0;
  background-image: url("../images/img-right-top.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
  font-family: "Tahoma";
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #cebda4;
  text-transform: uppercase;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  text-align: right;
}
@media (max-width: 1024px) {
  .main-block__right-top-block {
    display: none;
  }
}
.main-block__right-top-block-margin {
  margin-bottom: 15px;
}
.main-block__right-bottom-block {
  position: absolute;
  right: 40px;
  bottom: 174px;
  width: 235px;
  height: 155px;
  padding: 23px 14px 0 0;
  background-image: url("../images/img-right-bottom.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
  font-family: "Tahoma";
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #cebda4;
  text-transform: uppercase;
  text-align: right;
}
@media (max-width: 1024px) {
  .main-block__right-bottom-block {
    display: none;
  }
}
.main-block__right-bottom-block-margin {
  margin-bottom: 6px;
}
.main-block__right-bottom-block-num {
  font-family: "Tahoma";
  font-weight: 600;
  font-size: 29px;
  line-height: 1;
  color: #cebda4;
}
.main-block__logo {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 160px;
}
@media (max-width: 1024px) {
  .main-block__logo {
    width: 98px;
  }
}
.top-logo-mobile {
opacity: 0;
}

.top-logo-mobile__city {
  font-weight: 600;
  font-size: 15px;
  line-height: 1;
  color: #cebda4;
}
@media (max-width: 1024px) {
  .top-logo-mobile__city {font-size: 9px;}
}
.partners {
  display: block;
  height: 23px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .partners {
    display: none;
  }
}
.light {
  display: inline-block;
  font-weight: 300;
  font-size: 19px;
  line-height: 21px;
}
.main-block__get-prizes {
  position: absolute;
  left: 4px;
  top: 242px;
}
@media (max-width: 1024px) {
  .main-block__get-prizes {
    display: none;
  }
}
.main-block__twist-wheel {
  position: absolute;
  right: -12px;
  top: 250px;
}
@media (max-width: 1024px) {
  .main-block__twist-wheel {
    display: none;
  }
}
.main-block__twist-wheel-mobile {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}
@media (max-width: 1024px) {
  .main-block__twist-wheel-mobile {
    display: block;
    bottom: 4px;
  }
}
.deposit-logo {
  display: none;
  position: absolute;
  left: 77px;
  bottom: 168px;
  width: 135px;
}
@media (max-width: 1024px) {
  .deposit-logo {
    left: 4px;
    top: 10px;
    width: 78px;
  }
}
.freespins-logo {
  display: none;
  position: absolute;
  left: 187px;
  bottom: 42px;
  width: 135px;
}
@media (max-width: 1024px) {
  .freespins-logo {
    left: auto;
    right: 0;
    top: 12px;
    width: 78px;
  }
}
.main-block__number-attempts-wr {
  position: absolute;
  left: 627px;
  bottom: 45px;
  padding-left: 80px;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .main-block__number-attempts-wr {
    left: 0;
    bottom: 3px;
    padding: 60px 0 0 0;
    text-align: center;
  }
}
.main-block__number-attempts-num {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 63px;
  height: 64px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
@media (max-width: 1024px) {
  .main-block__number-attempts-num {
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 50px;
    height: 50px;
  }
}
.main-block__number-attempts-num--2 {
  background-image: url("../images/number-attempts-2.png");
}
.main-block__number-attempts-num--1 {
  background-image: url("../images/number-attempts-1.png");
}
.main-block__number-attempts-num--0 {
  background-image: url("../images/number-attempts-0.png");
}
.main-block__number-attempts-word-1 {
  font-family: "Tahoma";
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  color: #d6cdc3;
}
@media (max-width: 1024px) {
  .main-block__number-attempts-word-1 {
    font-size: 12px;
  }
}
.main-block__number-attempts-word-2 {
  font-family: "Tahoma";
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  color: #cebda4;
}
@media (max-width: 1024px) {
  .main-block__number-attempts-word-2 {
    font-size: 12px;
  }
}
.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.9);
}
.form {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 0;
}
.form--reg {
  width: 425px;
  padding: 150px 100px 65px 95px;
  background-image: url("../images/reg-bg.png");
}
@media (max-width: 1024px) {
  .form--reg {
    width: 295px;
    padding: 0 30px 0 32px;
    background-image: url("../images/bg-reg-mobile.png");
  }
  .form--reg .form-inner__mobile {
    margin-bottom: 10px;
  }
  .form--reg .form__logo {
    margin-bottom: 0;
  }
  .form--reg .input {
    width: 170px;
    margin-left: auto;
    margin-right: auto;
  }
  .form--reg .form__submit-wr {
    width: 165px;
    margin: 27px auto 0;
  }
  .form--reg .form__submit {
    font-size: 16px;
    line-height: 26px;
  }
}
.form--congr-1 {
  width: 465px;
  padding: 150px 65px 73px 113px;
  background-image: url("../images/congr-1-bg.png");
}
.form--congr-1 .form__submit-wr {
  margin-top: 32px;
}
@media (max-width: 1024px) {
  .form--congr-1 {
    width: 280px;
    padding: 35px 0 15px;
    background-image: url("../images/bg-depozit-mobile.png");
  }
  .form--congr-1 .form__submit-wr {
    display: block;
    width: 220px;
    margin: 0 auto;
  }
}
.form--congr-2 {
  width: 415px;
  padding: 165px 80px 65px 77px;
  background-image: url("../images/congr-2-bg.png");
}
.form--congr-2 .form__text-2 {
  margin-bottom: 24px;
}
.form--congr-2 .form__submit-wr {
  margin-top: 19px;
}
.form__close {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .form__close {
    display: block;
  }
}
@media (max-width: 1024px) {
  .form-inner__desktop {
    display: none;
  }
}
.form-inner__mobile {
  display: none;
  margin-bottom: 43px;
  text-align: center;
}
@media (max-width: 1024px) {
  .form-inner__mobile {
    display: block;
  }
}
.form__title {
  margin-bottom: 6px;
  font-family: "Tahoma";
  font-size: 29px;
  line-height: 1;
  color: #cebda4;
  text-align: center;
}
@media (max-width: 1024px) {
  .form__title {
    margin-bottom: 7px;
    line-height: 25px;
  }
}
.form__text {
  margin-bottom: 10px;
  font-family: "Tahoma";
  font-size: 13px;
  line-height: 18px;
  color: #cebda4;
  text-align: center;
}
@media (max-width: 1024px) {
  .form__text {
    margin-bottom: 20px;
    font-size: 12px;
  }
}
.form__text-2 {
  margin-bottom: 10px;
  font-family: "Tahoma";
  font-size: 17px;
  line-height: 22px;
  color: #cebda4;
  text-align: center;
}
.form__text-bold {
  font-family: "Tahoma";
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
}
@media (max-width: 1024px) {
  .form__text-bold {
    font-size: 16px;
    line-height: 19px;
  }
}
.input {
  position: relative;
  margin-bottom: 16px;
}
.input__field {
  width: 100%;
  height: 35px;
  -webkit-box-shadow: inset 0 3px 13px 0 rgba(0, 0, 0, 0.56);
  box-shadow: inset 0 3px 13px 0 rgba(0, 0, 0, 0.56);
  padding: 0 15px;
  border: 2px solid #cebda4;
  border-radius: 17px;
  background: transparent;
  font-family: "Tahoma";
  font-size: 17px;
  line-height: 31px;
  color: #fff;
}
.input__field::-webkit-input-placeholder {
  font-family: "Tahoma";
  font-size: 17px;
  line-height: 31px;
  color: #fff;
}
.input__field::-moz-placeholder {
  font-family: "Tahoma";
  font-size: 17px;
  line-height: 31px;
  color: #fff;
}
.input__field:-ms-input-placeholder {
  font-family: "Tahoma";
  font-size: 17px;
  line-height: 31px;
  color: #fff;
}
.input__field:-moz-placeholder {
  font-family: "Tahoma";
  font-size: 17px;
  line-height: 31px;
  color: #fff;
}
.input__field:focus::-webkit-input-placeholder {
  color: transparent;
}
.input__field:focus::-moz-placeholder {
  color: transparent;
}
.input__field:focus:-ms-input-placeholder {
  color: transparent;
}
.input__field:focus:-moz-placeholder {
  color: transparent;
}
@media (max-width: 1024px) {
  .input__field {
    height: 28px;
    -webkit-box-shadow: inset 0 0 30px 0 rgba(0, 198, 255, 0.22);
    box-shadow: inset 0 0 30px 0 rgba(0, 198, 255, 0.22);
    font-size: 13px;
    line-height: 24px;
  }
  .input__field::-webkit-input-placeholder {
    font-size: 13px;
    line-height: 24px;
  }
  .input__field::-moz-placeholder {
    font-size: 13px;
    line-height: 24px;
  }
  .input__field:-ms-input-placeholder {
    font-size: 13px;
    line-height: 24px;
  }
  .input__field:-moz-placeholder {
    font-size: 13px;
    line-height: 24px;
  }
}
label.error {
  position: absolute;
  left: 0;
  top: 35px;
  font-size: 10px;
  line-height: 1.2;
  color: #fff;
}
@media (max-width: 1024px) {
  label.error {
    top: 28px;
  }
}
.form__submit-wr {
  padding: 3px;
  margin-top: 37px;
  border: 3px solid #cebda4;
  border-radius: 24px;
  cursor: pointer;
}
.form__submit {
  display: block;
  width: 100%;
  height: 35px;
  padding: 0 20px;
  border-radius: 17px;
  border: none;
  background-image: -webkit-linear-gradient(-90deg, #bbfda7 0%, #bbf0b8 10%, #21a300 50%, #6dc74c 81%, #a1f088 100%);
  background-image: -ms-linear-gradient(-90deg, #bbfda7 0%, #bbf0b8 10%, #21a300 50%, #6dc74c 81%, #a1f088 100%);
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Tahoma";
  font-weight: 600;
  font-size: 21px;
  line-height: 35px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.65);
  text-align: center;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .form__submit {
    height: 30px;
    background-image: -webkit-linear-gradient(-90deg, #bbfda7 0%, #bbf0b8 10%, #21a300 50%, #6dc74c 81%, #a1f088 100%);
    background-image: -ms-linear-gradient(-90deg, #bbfda7 0%, #bbf0b8 10%, #21a300 50%, #6dc74c 81%, #a1f088 100%);
    line-height: 30px;
    text-shadow: -2px 0 2px rgba(0, 0, 0, 0.65);
  }
}
.form__bonus-wr:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  clear: both;
}
.form__bonus {
  width: 125px;
}
.form__bonus:first-child {
  float: left;
}
.form__bonus:last-child {
  float: right;
}
.form__bonus-1 {
  display: block;
  width: 125px;
  margin: 0 auto 12px;
}
.form__text-3 {
  margin-bottom: 5px;
  font-family: "Tahoma";
  font-size: 21px;
  line-height: 1;
  color: #d6cdc3;
  text-align: center;
}
.form__text-4 {
  margin-bottom: 5px;
  font-family: "Tahoma";
  font-size: 21px;
  line-height: 1;
  color: #aca498;
  text-align: center;
}
.form__text-5 {
  margin-bottom: 20px;
  font-family: "Tahoma";
  font-size: 21px;
  line-height: 1;
  color: #f0c788;
  text-align: center;
}
.form__text-6 {
  font-family: "Tahoma";
  font-size: 13px;
  line-height: 17px;
  text-align: center;
}
.form__text-6-1 {
  color: #d6cdc3;
}
.form__text-6-2 {
  color: #e5c18b;
}
.form__logo {
  display: block;
  width: 100px;
  margin: 0 auto 25px;
}
.form-inner__mobile-title {
  margin-bottom: 30px;
  font-family: "Tahoma";
  font-weight: 600;
  font-size: 25px;
  line-height: 1;
  color: #cebda4;
  text-transform: uppercase;
}
.form-inner__mobile-text-1 {
  font-family: "Tahoma";
  font-size: 25px;
  line-height: 1;
  color: #e6e6e6;
}
.form-inner__mobile-bonus {
  margin-bottom: 5px;
  font-family: "Tahoma";
  font-weight: 600;
  font-size: 41px;
  line-height: 1;
  color: #aca498;
}
.form-inner__mobile-text-2 {
  margin-bottom: 5px;
  font-family: "Tahoma";
  font-size: 25px;
  line-height: 1;
  color: #e5c18b;
}
.form-inner__mobile-text-3 {
  font-family: "Tahoma";
  font-size: 25px;
  line-height: 1;
  color: #f0c788;
}
.mobile-desc {
  display: none;
  width: 300px;
  margin: 0 auto;
  letter-spacing: 1px;
  text-align: center;
}
@media (max-width: 1024px) {
  .mobile-desc {
    display: block;
  }
}
.mobile-desc__text-1 {
  margin-bottom: 5px;
  font-weight: ;
  font-family: "Tahoma";
  font-size: 19px;
  line-height: 1.3;
  color: #cebda4;
  text-transform: uppercase;
}
.mobile-desc__text-2 {
  margin-bottom: 5px;
  font-family: "Tahoma";
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  color: #cebda4;
  text-transform: uppercase;
}
.mobile-desc__sep {
  border-top: 1px solid #eac48a;
  margin: 15px auto;
}
.mobile-desc__sum {
  font-family: "Tahoma";
  font-weight: 600;
  font-size: 29px;
  line-height: 1;
  color: #cebda4;
}
.mobile-desc__sum-cur {
  font-family: "Tahoma";
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  color: #cebda4;
  text-transform: uppercase;
}
.partners-mobile {
  max-width: 100%;
  margin-top: 35px;
}
